# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Database
database/
*.sqlite3
*.db

# Flask-related cache
instance/
*.log

# OS / Editor specific
.DS_Store
*.swp
*.swo
.vscode/
.idea/
